*{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #B8FB4C;
}
h1{
   background-color: #F4E107 ;
   color: #171716;
   height: 5rem;
   line-height: 2.5;
}
.choice{
    height: 160px;
    width: 160px;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #171716;

}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    margin-top: 5rem;

}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;
    gap: 5rem;
}
#yscore,#cscore{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
    background-color: #22f;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 1rem;
}
#msg{
    
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 8vmin;
}

